.contacts {
    padding-top: 36px;
    padding-bottom: 30px;

    background-color: #FFFDEE;
}

.logo-link {
    display: block;
    margin-bottom: 12px;

    font-family: 'Film P3', sans-serif;
    @include font (null, 40px, 1.07, 0.3em);
    color: #494848;
}
.contacts__title {
    margin-bottom: 16px;
    
    font-family: 'Montserrat-SemiBold', sans-serif;
    @include font (null, 16px, 1.25, 0.02em);
    color: #5F5F5F;
}

.contacts-list {
    
}
.contacts-item {
    display: flex;
    align-items: center;
    gap: 22px;

    
    margin-bottom: 16px;
}
.contacts__text {
    
    width: 102px;
    font-family: 'Montserrat-Medium', sans-serif;
    @include font (null, 20px, 1.2, 0.02em);
    color: #C79002;
}

.phone-wrap {
    display: flex;
    gap: 12px;

    outline: 0.4px solid #F3C653;
    border-radius: 2px;
    background-color: #fff;
    padding: 9px 8px 7px 8px;
    
}


.phone-text {
    display: flex;
    align-items: center;

    font-family: 'Montserrat-Regular', sans-serif;
    @include font (null, 14px, 1.21, 0.02em);
    color: #494848;

    &:first-child::before {
        content: '';
        // display: flex;
        // justify-content: center;
        // align-items: center;
    
        margin-right: 8px;
        width: 24px;
        height: 24px;
        
        
        background-image: url(../images/icons/icons.svg);
        background-position: center;
    }
}
.address {
    display: flex;
    margin-left: auto;
    outline: 0.4px solid #F3C653;
    border-radius: 2px;
    background-color: #fff;
    padding: 8px 33px 7px 10px;
    width: 260px;
}
.address-link {
    display: flex;
    align-items: center;

    font-family: 'Montserrat-Regular', sans-serif;
    @include font (null, 16px, 1.25, 0.01em);
    color: #494848;
}

.address-link::before {
    content: '';
    display: block;
    // justify-content: center;
    // align-items: center;

    margin-right: 10px;
    padding-left: 6px;
    padding-right: 6px;
    width: 24px;
    height: 24px;
   
    
    background-image: url(../images/icons/icons.svg);
    background-position: center;
    background-size: cover;
}
.map {
    border: 1px solid #BABABA;;
/* shadow_little */

box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
border-radius: 2px;
}
iframe {
    display: block;
    overflow: hidden;
}