.main-page-details-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/main-page/main-page-details-restaurant/restourant-414.webp);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
            url(../images/main-page/main-page-details-restaurant/restourant-414@2x.webp);
    }

    @media screen and(min-width:1024px) {
        max-width: 1024px;
        max-height: 620px;
        padding-top: 48px;
        padding-bottom: 47px;

        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
            url(../images/main-page/main-page-details-restaurant/restourant-1024.webp);
        background-size: contain;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)),
                url(../images/main-page/main-page-details-restaurant/restourant-1024@2x.webp);
        }
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
        max-height: 620px;
        padding-top: 48px;
        padding-bottom: 47px;

        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
            url(../images/main-page/main-page-details-restaurant/restourant-1280.webp);
        background-size: contain;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)),
                url(../images/main-page/main-page-details-restaurant/restourant-1280@2x.webp);
        }
    }
}

.details-restaurant__list {
    width: 243px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 140px;

    @media screen and (min-width: 1024px) {
        width: 550px;
        margin-left: 231px;
    }

    @media screen and (min-width: 1024px) {
        width: 595px;
        margin-left: 291px;
    }

}

.details-restaurant__title {
    font-family: FilmP3;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12px;
    padding-top: 24px;
    width: 127px;

    @media screen and (min-width: 1024px) {
        width: 202px;
        font-size: 64px;
        line-height: 1.07;
        padding-top: 0;
        margin-bottom: 16px;
    }
}

.details-restaurant__second-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 20px;

    @media screen and (min-width: 1024px) {
        font-size: 24px;
        line-height: 1.21;
        margin-bottom: 8px;
    }
}

.details-restaurant__pre-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #BABABA;
    margin-bottom: 48px;

    @media screen and (min-width: 1024px) {
        font-size: 16px;
        line-height: 1.25;
    }
}

.details-restaurant__wrap {
    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: row-reverse;
        gap: 32px;
    }
}

.details-restaurant__slider {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
}

.details-restaurant__pic {
    width: 370px;
    height: 270px;

    @media screen and (min-width: 1024px) {
        width: 660px;
        padding-left: 47px
    }

    @media screen and (min-width: 1280px) {
        min-width: 875px;
        padding-left: 52px;
    }
}

.details-restaurant__nav {
    margin-bottom: 40px;
    display: flex;
    gap: 34px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 0;
    }
}.details-restaurant__slider-btn {
    background-color: transparent;
    width: 40px;
    padding: 0;
    border: none;
}

.details-restaurant__nav-icon {
    fill: #ffff;

    &:hover,
    &:focus {
        fill: #F3C653;
    }
}

.details-restaurant__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 40px;

    @media screen and (min-width: 1024px) {
        padding-bottom: 0;
        padding-bottom: 62px;
    }
}