<section  class="main-page-about-hotel">
   <div class="about-hotel">
    <div class="container">
        <h2 class="visually-hidden">About hotel</h2>
     <div class="about-hotel__wrap">

            <div class="about-hotel__wrapper">
                <p class="about-hotel__text">Amet minim mollit non</p>
                <p class="about-hotel__mimino">MIMINO</p>
                <p class="about-hotel__description">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.Velit officia consequat duis enim velit mollit.Exercitation veniam consequat sunt nostrud amet.
                </p>
            </div>
            <div class="bedroom-image__thumb" >
                <picture class="about-hotel__picture">
                    <source 
                    srcset="
                    ./images/about/studio-bedroom.jpg    1x,
                    ./images/about/studio-bedroom@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    />
                    <source 
                    srcset="
                    ./images/about/studio-bedroom400.jpg    1x,
                    ./images/about/studio-bedroom400@2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                    />
                    <source 
                    srcset="
                    ./images/about/studio-bedroom244.jpg    1x,
                    ./images/about/studio-bedroom244@2x.jpg 2x
                    "
                    media="(min-width: 414px)"
                    
                    />
                    <img
                    src="./images/about/studio-bedroom.jpg" 
                    alt="Зображення спальні" 
                    >
                </picture>
            </div>
                
     </div>
        <div class="about-hotel__cover">
            <p class="about-hotel__descr">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="hotel-image__thumb">
                <picture class="about-hotel__picture">
                    <source 
                    srcset="
                    ./images/about/hotel.jpg    1x,
                    ./images/about/hotel@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    />
                    <source 
                    srcset="
                    ./images/about/hotel350.jpg    1x,
                    ./images/about/hotel350@2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                    />
                    <source 
                    srcset="
                    ./images/about/hotel200.jpg   1x,
                    ./images/about/hotel200@2x.jpg 2x
                    "
                    media="(min-width: 414px)"
                    />
                    <img
                    src="./images/about/hotel.jpg" 
                    alt="Зображення готелю" 
                    >
                </picture>
            
            </div>
        </div>
        
        <div class="about-hotel__slider">

        </div>
        
    
    </div>
   </div>
</section>