<section  class="main-page-about-restaurant">
    <div class="about__restaurant">
     <div class="container">
         <h2 class="visually__hidden">About restaurant</h2>
         <p class="about__restaurant__text">Amet minim mollit non</p>
         <p class="about__restaurant__mimino__text">MIMINO</p>
         <p class="about__restaurant__description">
             Amet minim mollit non deserunt 
             ullamco est sit aliqua dolor do amet 
             sint.Velit officia consequat duis enim 
             velit mollit.Exercitation veniam 
             consequat sunt nostrud amet.
         </p>
         <div class="restaurant__image__thumb">
            <picture>
                <source 
                srcset="
                ./images/about/restaurant.jpg    1x,
                ./images/about/restaurant@2x.jpg 2x
                "
                media="(min-width: 1280px)"
                />
                <source 
                srcset="
                ./images/about/restaurant400.jpg    1x,
                ./images/about/restaurant400@2x.jpg 2x
                "
                media="(min-width: 1024px)"
                />
                <source 
                srcset="
                ./images/about/restaurant244.jpg    1x,
                ./images/about/restaurant244@2x.jpg 2x
                "
                media="(min-width: 415px)"
                />
                <img
                src="./images/about/restaurant.jpg" 
                alt="Зображення ресторану" 
                >
            </picture>
        </div>
       
         <div class="about__restaurant__flex__wrapper">
             <div class="hall__image__thumb">
                <picture>
                    <source 
                    srcset="
                    ./images/about/hall.jpg    1x,
                    ./images/about/hall@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    />
                    <source 
                    srcset="
                    ./images/about/hall350.jpg    1x,
                    ./images/about/hall350@2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                    />
                    <source 
                    srcset="
                    ./images/about/hall200.jpg    1x,
                    ./images/about/hall200@2x.jpg 2x
                    "
                    media="(min-width: 415px)"
                    />
                    <img
                    src="./images/about/hall.jpg" 
                    alt="Зображення холу" 
                    >
                </picture>
               
             </div>
             <p class="about__restaurant__descr">
                 Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
             </p>
         </div>
         
         <div class="about__restaurant__slider">
 
         </div>
         
     
     </div>
    </div>
 </section>