<section class="main-page-details-restaurant">
  <div class="details-restaurant">
    <div class="container">
      <ul class="details-restaurant__list list">
        <li>
          <h2 class="details-restaurant__title">Mimino</h2>
        </li>
        <li>
          <h3 class="details-restaurant__second-title">Ресторан</h3>
        </li>
        <li>
          <p class="details-restaurant__pre-title">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </li>
      </ul>
      <div class="details-restaurant__wrap">
        <div class="details-restaurant__slider">
          <div class="details-restaurant__pic"></div>
          <div class="details-restaurant__nav">
            <button class="details-restaurant__slider-btn">
              <svg class="details-restaurant__nav-icon" width="32" height="32">
                <use href="./images/icons/arrows.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button class="details-restaurant__slider-btn">
              <svg class="details-restaurant__nav-icon" width="32" height="32">
                <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="details-restaurant__btn">
          <button type="button" class="btn">Забронювати столик</button>
          <button type="button" class="btn">Переглянути меню</button>
        </div>
      </div>
    </div>
  </div>
</section>
