<section  class="main-page-about-restaurant">
    <div class="about-restaurant">
     <div class="container">
         <h2 class="visually-hidden">About restaurant</h2>
      <div class="about-restaurant__wrap">
        <div class="about-restaurant__wrapper">
            <p class="about-restaurant__text">Amet minim mollit non</p>
            <p class="about-restaurant__mimino">MIMINO</p>
            <p class="about-restaurant__description">
                Amet minim mollit non deserunt 
                ullamco est sit aliqua dolor do amet 
                sint.Velit officia consequat duis enim 
                velit mollit.Exercitation veniam 
                consequat sunt nostrud amet.
            </p>
           </div>
             <div class="restaurant-image__thumb">
                <picture class="about-restaurant__picture">
                    <source 
                    srcset="
                    ./images/about/restaurant.jpg    1x,
                    ./images/about/restaurant@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    />
                    <source 
                    srcset="
                    ./images/about/restaurant400.jpg    1x,
                    ./images/about/restaurant400@2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                    />
                    <source 
                    srcset="
                    ./images/about/restaurant244.jpg    1x,
                    ./images/about/restaurant244@2x.jpg 2x
                    "
                    media="(min-width: 414px)"
                    />
                    <img
                    src="./images/about/restaurant.jpg" 
                    alt="Зображення ресторану" 
                    >
                </picture>
            </div>
      </div>
       
         <div class="about-restaurant__cover">
             <div class="hall-image__thumb">
                <picture class="about-restauraunt__picture">
                    <source 
                    srcset="
                    ./images/about/hall.jpg    1x,
                    ./images/about/hall@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    />
                    <source 
                    srcset="
                    ./images/about/hall350.jpg    1x,
                    ./images/about/hall350@2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                    />
                    <source 
                    srcset="
                    ./images/about/hall200.jpg    1x,
                    ./images/about/hall200@2x.jpg 2x
                    "
                    media="(min-width: 414px)"
                    />
                    <img
                    src="./images/about/hall.jpg" 
                    alt="Зображення холу" 
                    >
                </picture>
               
             </div>
             <p class="about-restaurant__descr">
                 Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
             </p>
         </div>
         
         <div class="about-restaurant__slider">
 
         </div>
         
     
     </div>
    </div>
 </section> 