<section class="main-page-details-hotel">
  <div class="details-hotel">
    <div class="container">
      <ul class="details-hotel__list list">
        <li>
          <h2 class="details-hotel__title">Mimino</h2>
        </li>
        <li>
          <h3 class="details-hotel__second-title">Готель</h3>
        </li>
        <li>
          <p class="details-hotel__pre-title">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </li>
      </ul>
      <div class="details-hotel__wrap">
        <div class="details-hotel__slider">
          <div class="details-hotel__pic"></div>
          <div class="details-hotel__nav">
            <button class="details-hotel__slider-btn">
              <svg class="details-hotel__nav-icon" width="32" height="32">
                <use href="./images/icons/arrows.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button class="details-hotel__slider-btn">
              <svg class="details-hotel__nav-icon" width="32" height="32">
                <use href="./images/icons/arrows.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="details-hotel__btn">
          <button type="button" class="btn">Забронювати номер</button>
          <button type="button" class="btn">Переглянути ціни</button>
        </div>
      </div>
    </div>
  </div>
</section>
