// .amenities {

// }

.amenities-title {
font-family: $times-font;
@include font (32px, 1.16, 400, null);
// font-weight: 400;
// font-size: 32px;
// line-height: 37px;
/* identical to box height */

color: #000000;
}

.amenities-description {
// font-family: 'Montserrat' НАСЛІДУЄ з Body?;
@include font (16px, 1.25, 700, 0.02em);
// font-weight: 700;
// font-size: 16px;
// line-height: 20px;
// letter-spacing: 0.02em;

color: #7A7A7A;
}

// .amenities-list {

// }

// .amenities-item {

// }

.amenities-item-title {
font-family: $times-font;
@include font (24px, 1.17, 700, null);
// font-weight: 700;
// font-size: 24px;
// line-height: 28px;
/* identical to box height */

color: #000000;
}

.amenities-item-description {
// font-family: 'Montserrat' НАСЛІДУЄ з Body?;
@include font (16px, 1.25, 700, 0.02em);
// font-weight: 700;
// font-size: 16px;
// line-height: 20px;
// letter-spacing: 0.02em;

color: #7A7A7A;
}

.amenities-btn {
font-family: $montserrat-font;
@include font (20px, 1.2, 500, null);
// font-weight: 500;
// font-size: 20px;
// line-height: 24px;

color: #FFFFFF;
background: #000000;
border: 1px solid $accent-color;
border-radius: 25px;
}

.amenities-link {
// font-family: 'Montserrat' НАСЛІДУЄ з Body?;
@include font (16px, 1.25, 500, 0.02em);
// font-weight: 500;
// font-size: 16px;
// line-height: 20px;
// /* identical to box height */

// letter-spacing: 0.02em;

/* Brown */

color: $brown-text-color;
}

.amenities-link-icon {
background: $brown-text-color;
}