.overlay {
  position: absolute;
  width: 414px;
  height: 143px;
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  );
  @include tablet {
    height: 100px;
    width: 1024px;
  }
  @include desktop {
    width: 1280px;
    height: 147px;
  }
}

.hero-room {
  position: relative;
  background-image: url(../images/hero/bg-hot.jpg);
  max-width: 1280px;
  height: 740px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include retina2x {
    background-image: url(../images/hero/bg-hot@2x.jpg);
  }

  @include tablet {
    background-image: url(../images/hero/tab-bg-hot.jpg);
    height: 720px;
    @include retina2x {
      background-image: url(../images/hero/tab-bg-hot@2x.jpg);
    }
  }

  @include desktop {
    background-image: url(../images/hero/desk-bg-hot.jpg);
    @include retina2x {
      background-image: url(../images/hero/desk-bg-hot@2x.jpg);
    }
  }
}

.hero-room__title {
  font-family: $times-font;
  @include font(28px, 32px, 700, 0.05em);
  color: #ffffff;
  margin-bottom: 14px;
  @include tablet {
    @include font(36px, 41px, 700, 0.05em);
    margin-bottom: 24px;
  }
}

.hero-room__text {
  @include font(12px, 15px, 700, 0.02em);
  color: #ffffff;
  margin-bottom: 30px;
  @include tablet {
    @include font(16px, 20px, 700, 0.05em);
    margin-bottom: 0;
  }
}
