<header>
  <div class="header-container">
    <a href="./index.html" class="header-logo link">MIMIHO</a>
    <ul class="header-nav list">
      <li class="header-nav__item">
        <a href="./restaurant.html" class="header-nav__link link">Ресторан</a>
      </li>
      <li class="header-nav__item">
        <a href="095 555 95 33" class="header-nav__contact link">
          <svg class="icon-contact-mobile" width="24" height="24">
            <use
              href="/src/images/icons/icons-header.svg#icon-contact-mobile"
            ></use>
          </svg>
          <p class="header-nav__tel">095 555 95 33</p>
        </a>
      </li>
      <li class="header-nav__item">
        <a href="./hotel.html" class="header-nav__link link">Готель</a>
      </li>
      <li class="header-nav__item">
        <a href="066 849 10 89" class="header-nav__contact link">
          <svg class="icon-contact-mobile" width="24" height="24">
            <use
              href="/src/images/icons/icons-header.svg#icon-contact-mobile"
            ></use>
          </svg>
          <p class="header-nav__tel margin-tel">066 849 10 89</p>
          <p class="header-nav__tel">067 275 85 40</p>
        </a>
      </li>
    </ul>
  </div>
</header>
