<section class="restaurant-page-about-kitchen">
  <div class="about-kitchen">
    <div class="container">
      <h2 class="visually-hidden">About kitchen</h2>
      <div class="about-kitchen__wrap">
        <div class="about-kitchen__wrapper">
          <h2 class="about-kitchen__text">Amet minim mollit non</h2>

          <h3 class="about-kitchen__mimino">MIMINO</h3>

          <p class="about-kitchen__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.Velit officia consequat duis enim velit mollit.Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>

        <div class="kitchen-image__kuchina">
          <picture class="about-kuchina__picture"> 
            <source 
                    srcset="
                    ./images/about/kuchina.jpg    1x,
                    ./images/about/kuchina@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    />
                    <source 
                    srcset="
                    ./images/about/kuchina400.jpg    1x,
                    ./images/about/kuchina400@2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                    />
                    <source 
                    srcset="
                    ./images/about/kuchina244.jpg    1x,
                    ./images/about/kuchina244@2x.jpg 2x
                    "
                    media="(min-width: 414px)"
                    />
                    <img
                    src="./images/about/kuchina.jpg" 
                    alt="Зображення кухні" 
                    >
          </picture>
        </div>
      </div>

      <div class="about-meat__cover">
        <div class="meat-image__thumb">
          <picture class="about-kuchina__picture"> 
            <source 
                    srcset="
                    ./images/about/meat.jpg    1x,
                    ./images/about/meat@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                    />
                    <source 
                    srcset="
                    ./images/about/meat200.jpg    1x,
                    ./images/about/meat200@2x.jpg 2x
                    "
                    media="(min-width: 1024px)"
                    />
                    <source 
                    srcset="
                    ./images/about/meat350.jpg    1x,
                    ./images/about/meat350@2x.jpg 2x
                    "
                    media="(min-width: 414px)"
                    />
                    <img
                    src="./images/about/meat.jpg" 
                    alt="Зображення м'яса" 
                    >
          </picture>
        </div>

        <p class="about-kitchen__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <div class="about-kitchen__slider"></div>
    </div>
  </div>
</section>
