<section class="">
  <div class="">
    <div class="container">
      <h2 class="visually-hidden">About kitchen</h2>
      <div class="">
        <div class="">
          <p class="">Amet minim mollit non</p>

          <p class="">MIMINO</p>

          <p class="">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.Velit officia consequat duis enim velit mollit.Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>

        <div class="">
          <picture class=""> </picture>
        </div>
      </div>

      <div class="">
        <div class="">
          <picture class=""> </picture>
        </div>

        <p class="">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <div class="about-kitchen__slider"></div>
    </div>
  </div>
</section>
