<!-- -------------CUSTOM-CURSOR-[START]------------- -->
<div class="cursor"></div>
<div class="cursor2"></div>
<!-- -------------CUSTOM-CURSOR-[END]------------- -->

<!-- -------------CUSTOM-HORIZONTAL-INDICATOR-[START]------------- -->
<div class="header-indicator">
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div>
<!-- -------------CUSTOM-HORIZONTAL-INDICATOR-[END]------------- -->

<!-- -------------CUSTOM-ANCHOR-[START]------------- -->
<div class="up-button">
    <a class="up-button__link" href="#home">
        <svg class="up-button__icon animate__animated animate__infinite animate__pulse" width="30"
            height="30">
            <use href="/src/images/icons/circle-up.svg#icon-circle-up"></use>
        </svg>
    </a>
</div>
<!-- -------------CUSTOM-ANCHOR-[END]------------- -->


