<section class="hero-room">
    <div class="overlay"></div>
    <div class="container container--hero-room">
            <div class="hero-room-address">
                <a href="https://goo.gl/maps/6gDqiG3JNkNxRNML7" class="hero-room-address__location">
                    <svg class="hero-room-address__icon" width="20" height="20">
                        <use href="./images/icons/icons.svg#icon-location"></use>
                    </svg>
                </a>
                <a href="https://goo.gl/maps/6gDqiG3JNkNxRNML7" class="hero-room-address__text">Україна, м. Полтава,
                вул. Маршала Бірюзова, 15</a>
            </div>
        <div class="hero-room__content">      
            <h1 class="hero-room__title">ДВОМІСНИЙ НОМЕР люкс</h1>
            <p class="hero-room__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia
                consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <ul class="hero-room-socials">
            <li class="hero-room-socials__item">
                <a href="https://www.instagram.com/" class="hero-room-socials__link">
                    <svg class="hero-room-socials__icon" width="24" height="24">
                        <use href="./images/icons/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="hero-room-socials__item">
                <a href="https://www.facebook.com/" class="hero-room-socials__link">
                    <svg class="hero-room-socials__icon" width="24" height="24">
                        <use href="./images/icons/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="hero-room-socials__item">
                <a href="https://web.telegram.org/" class="hero-room-socials__link">
                    <svg class="hero-room-socials__icon" width="24" height="24">
                        <use href="./images/icons/icons.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button type="button" class="btn btn--hero hero-room__btn">Переглянути ціни</button>
    </div>
</section>