<section class="amenities">
    <h1 class="amenities-title">Зручності у номері</h1>
    <p class="amenities-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
    </p>
    <ul class="amenities-list">
        <li class="amenities-item">
            <h2 class="amenities-item-title">Загальні</h2>
            <p class="amenities-item-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <p class="amenities-item-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </li>
        <li class="amenities-item">
            <h2 class="amenities-item-title">Ванна кімната</h2>
            <p class="amenities-item-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <p class="amenities-item-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </li>
        <li class="amenities-item">
            <h2 class="amenities-item-title">Спальня</h2>
            <p class="amenities-item-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
        </li>
        <li class="amenities-item">
            <h2 class="amenities-item-title">Кухня</h2>
            <p class="amenities-item-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            <p class="amenities-item-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        </li>
        <li class="amenities-item">
            <h2 class="amenities-item-title">Медіа</h2>
            <p class="amenities-item-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
        </li>
    </ul>
    <button class="amenities-btn" type="button">Оформити бронювання</button>
    <a class="amenities-link" href="#">Повернутися до перегляду номерів<svg class="amenities-link-icon" width="24" height="24"><use href="#"></use></svg></a>
</section>